*

!*/
_out/
target/

!**/*.rs
!**/Cargo.toml
!**/Cargo.lock

!**/*.toml
!**/*.yml
!**/*.yaml
!**/*.md
!**/*.txt
!**/*.cil
!**/*.pub
!**/*.service
!**/*.conf

!.gitignore
!.gitattributes
!LICENSE

!.dockerignore
!Dockerfile

!Justfile
